<!DOCTYPE html> 
<html>
<head>
	<title>Pure & Simple</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="flapperNews">
	<nav class="navbar navbar-default" ng-controller="NavCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href='/#/home'>Pure & Simple</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
			    <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
			    <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">logout</a></li>
			    <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
			    <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<ui-view></ui-view>
		<!--<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<ui-view></ui-view>

			</div>	
		</div>-->
	</div>
</body> 
</html>