<!DOCTYPE html> 
<html>
<head>
	<title>Simple & Pure</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="flapperNews">
	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
		      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
		      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
		      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
		      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
		    </ul>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">

				<ui-view></ui-view>

			</div>	
		</div>
	</div>
</body> 
</html>